<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="view-transition" content="same-origin">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Proof of Concept S12</title>
    <script src="/scripts/script.js" defer></script>
</head>
<body>
    <header class="header">
    </header>