<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="view-transition" content="same-origin">
    <meta name="description" content="An Infinite Canvas for Qatar Museums.">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Proof of Concept S12</title>
    <script src="/scripts/script.js" defer></script>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="/355493578_641244661366311_8185282869611939571_n-removebg-preview.png" alt="Qatar Museums">
            <h1>متاحف قطرمتاحف قطر <br>QATAR MUSEUMS</h1>
        </div>
        <ul class="nav-bar">
            <li>متاحف قطر <br>STORIES</li>
            <li>متاحف قطر <br> WHAT'S ON</li>
            <li>متاحف قطر <br> VISIT</li>
            <button>TICKETS</button>
            <li>متاحف قطر <br>VENUE</li>
            <li>متاحف قطر <br>MENU</li>
        </ul>
    </header>