<%- include('partials/head') %>
<div class="container">
  <ul id="art-objects-list" class="art-objects-list">
    <% data.forEach(item => { %>
      <li class="art-object-item">
        <picture>
          <img src="https://fdnd-agency.directus.app/assets/<%= item.image %>" alt="<%= item.title %>" loading="lazy" tabindex="0" width="200" height="200">
        </picture>
        <div class="art-object-title">
          <%= item.title %>
        </div>
      </li>
    <% }) %>
  </ul>
</div>



<section class="button-search-section">
  <button>ALL</button>
  <button>POTTERY</button>
  <button>GLASS</button>
  <button>POTTERY</button>
  <button>GLASS</button>
  <form class="search-form">
    <input type="text" name="query" placeholder="SEARCH THE COLLECTION.....">
  </form>
</section>

