* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.art-objects-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li{
        list-style-type: none;
        flex: 1;
    }
}

.art-object-item img {
  max-width: 300px;
  max-height: 300px;
}